@import './include';

$white-color: (
  'base': #ffffff
);
$black-color: (
  'base': #000000
);
$dark-color: (
  'base': theme-color('dark'),
  'darken-1': #343434,
  'darken-2': #1e1e1e,
  'darken-3': #626262
);
$light-color: (
  'base': theme-color('light')
);

$primary-color: (
  'base': theme-color('primary'),
  'accent-1': #bdfdff,
  'accent-2': #8afbff,
  'accent-3': #57faff,
  'accent-4': #3df9ff
);
$secondary-color: (
  'base': theme-color('secondary'),
);
$success-color: (
  'base': theme-color('success'),
  'accent-1': #e1fff1,
  'accent-2': #aeffd9,
  'accent-3': #7bffc1,
  'accent-4': #62ffb5
);
$info-color: (
  'base': theme-color('info'),
  'accent-1': #feffff,
  'accent-2': #cbf5ff,
  'accent-3': #98ecff,
  'accent-4': #7fe7ff
);
$warning-color: (
  'base': theme-color('warning'),
  'accent-1': #fff5ef,
  'accent-2': #ffe5d8,
  'accent-3': #fff6f3,
  'accent-4': #ffe3da
);
$danger-color: (
  'base': theme-color('danger'),
  'accent-1': #ffeef1,
  'accent-2': #ffd6db,
  'accent-3': #ffecee,
  'accent-4': #ffd3d7
);

$colors: (
  'white': $white-color,
  'black': $black-color,
  'dark': $dark-color,
  'light': $light-color,
  'primary': $primary-color,
  'secondary': $secondary-color,
  'success': $success-color,
  'info': $info-color,
  'warning': $warning-color,
  'danger': $danger-color
);
